.viewer-container {
  width: 100%;
  height: 600px;
  position: relative;
  background: #1a1a1a;
  border-radius: 4px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}
