/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Material Theme
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);

// Globale Styles
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}